<?php
	$session = $this->request->session();
	$user_data = $session->read('Auth.User');	
	if(!empty($user_data)) {	
?>
<div class="pull-right">
  LNHS Teacher Profiling Allright reserved 2017
</div>
<div class="clearfix"></div>
<?php } ?>